{% extends 'base.html' %}

{% block container-main %}
    <div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3">
            <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home" aria-hidden="true"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file" aria-hidden="true"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                Orders
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/store/cuadros">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart" aria-hidden="true"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                Products
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/store/clientes">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"/><circle cx="9" cy="7" r="4"/><path d="M23 21v-2a4 4 0 0 0-3-3.87"/><path d="M16 3.13a4 4 0 0 1 0 7.75"/></svg>
                Clientes
                </a>
            </li>
            </ul>
        </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>
        <h3>Menu principal</h3>

        <div class="card mb-3">
            <img width="250" height="600" src="/static/img/Arte.png" class="card-img-top" alt="Arte Papel">
            <div class="card-body">
              <h5 class="card-title " >Arte Papel</h5>
              <p class="card-text">¡Bienvenidos a la presentación de ArteVista, la galería de arte en línea donde podrás descubrir y adquirir los cuadros más exquisitos y únicos del mundo! En esta presentación, exploraremos cómo ArteVista se ha convertido en la plataforma líder en ventas de cuadros, ofreciendo una experiencia excepcional para artistas y amantes del arte.</p>
              <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
            </div>
          </div>
          
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card">
                <img src="/static/img/mision.png" height="150" class="card-img-top" alt="Mision">
                <div class="card-body">
                  <h5 class="card-title">Nuestra Misión</h5>
                  <p class="card-text">
                    <p>Nuestra misión es conectar a artistas talentosos con entusiastas del arte en todo el mundo.</p>
                    <p>Ofrecemos una plataforma digital para que artistas emergentes y consolidados exhiban y vendan sus obras de arte únicas.</p>

                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/static/img/pregunta.png" width="213" height="237"  class="card-img-top" alt="pregunta">
                <div class="card-body">
                  <h5 class="card-title">¿Por qué ArtePapel?</h5>
                  <p class="card-text">
                    <p> Una selección exclusiva de cuadros con una amplia variedad de técnicas artísticas y estilos. </p>
                    <p> Compra segura y confiable con sistemas de pago encriptados y protección al cliente. </p>
                    <p> Envío rápido y seguro para asegurar que los cuadros lleguen en perfectas condiciones. </p>
                    <p> Atención al cliente dedicada y amigable. </p>
                  </p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card">
                <img src="/static/img/explorar.png" class="card-img-top" alt="explorar">
                <div class="card-body">
                  <h5 class="card-title">Explora nuestra galeria</h5>
                  <p class="card-text">Filtra por artista, estilo, tamaño y precio para encontrar el cuadro en papel perfecto para ti.</p>
                </div>
              </div>
            </div>
          </div>

          <div>
            <div class="info-wrap w-100 p-lg-5 p-4 img">
                <h3>Contactenos</h3>
                <p class="mb-4">Síguenos en nuestras redes sociales para descubrir las últimas adquisiciones y novedades del mundo del arte en papel.</p>
                <div class="dbox w-100 d-flex align-items-start">
                <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-map-marker"></span>
                </div>
                <div class="text pl-3">
                <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
                </div>
                </div>
                <div class="dbox w-100 d-flex align-items-center">
                <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-phone"></span>
                </div>
                <div class="text pl-3">
                <p><span>Phone:</span> <a href="tel://1234567920">908765432</a></p>
                </div>
                </div>
                <div class="dbox w-100 d-flex align-items-center">
                <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-paper-plane"></span>
                </div>
                <div class="text pl-3">
                <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
                </div>
                </div>
                <div class="dbox w-100 d-flex align-items-center">
                <div class="icon d-flex align-items-center justify-content-center">
                <span class="fa fa-globe"></span>
                </div>
                <div class="text pl-3">
                <p><span>Website</span> <a href="/">Artepapel.com</a></p>
                </div>
                </div>
                </div>
          </div>
        

        </main>
    </div>
    </div>
{% endblock %}